
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@font-face {
  font-family: Kollektif;
  src: url('./assets/kollektif/Kollektif.ttf');
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


